dataset_path: lmms-lab/ST-VQA
local_dataset_path:
task: "stvqa"
test_split: test
output_type: generate_until
doc_to_visual: !function utils.stvqa_doc_to_visual
doc_to_text: !function utils.stvqa_doc_to_text
doc_to_target: "answers"
generation_kwargs:
  max_new_tokens: 32
  temperature: 0
  do_sample: False
process_results: !function utils.stvqa_process_results
metric_list:
  - metric: submission
    aggregation: !function utils.stvqa_aggregate_submissions
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: "\nAnswer the question using a single word or phrase."
  local_infer_dataset_path:
  