dataset_path: CaraJ/MathVerse-lmmseval
dataset_name: testmini
dataset_kwargs:
  token: False
task: "mathverse_testmini_reasoning"
test_split: testmini
output_type: generate_until
doc_to_visual: !function utils.mathverse_doc_to_visual
doc_to_text: !function utils.mathverse_doc_to_text
doc_to_target: "answer"
doc_to_messages: !function utils.mathverse_doc_to_messages
generation_kwargs:
  max_new_tokens: 49152
process_results: !function utils.mathverse_process_results
metric_list:
  - metric: acc_score
    aggregation: mean
    higher_is_better: true
  - metric: format_score
    aggregation: mean
    higher_is_better: true

lmms_eval_specific_kwargs:
  default:
    shot_type: "format-prompt" # can also be "custom-prompt"
    query_type: "query_wo" # now only support query_wo
model_specific_generation_kwargs:
  llava:
    image_aspect_ratio: original
