dataset_path: AI4Math/MathVista
dataset_kwargs:
  token: True
task: "mathvista_testmini"
test_split: testmini
output_type: generate_until
doc_to_visual: !function utils.mathvista_doc_to_visual
doc_to_text: !function utils.mathvista_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  until:
    - "ASSISTANT:"
  max_new_tokens: 1024
  temperature: 0
  top_p: 0
  num_beams: 1
  do_sample: false
process_results: !function utils.mathvista_process_results
metric_list:
  - metric: gpt_eval_score
    aggregation: !function utils.mathvista_aggregate_results
    higher_is_better: true
  
model_specific_prompt_kwargs:
  default:
    shot_type: "solution" # can be "reason-first", "solution", "step-by-step"
    shot: 0
    use_caption: False
    use_ocr: False
model_specific_generation_kwargs:
  llava:
    image_aspect_ratio: original