dataset_path: AI4Math/MathVista
dataset_kwargs:
  token: True
task: "mathvista_testmini_cot"
test_split: testmini
tag: visual_reasoning_collection
output_type: generate_until
doc_to_visual: !function utils.mathvista_doc_to_visual
doc_to_text: !function utils.mathvista_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  max_new_tokens: 1024
  temperature: 0
  top_p: 1.0
  num_beams: 1
  do_sample: false
process_results: !function utils.mathvista_process_results
metric_list:
  - metric: llm_as_judge_eval
    aggregation: !function utils.mathvista_aggregate_results
    higher_is_better: true

lmms_eval_specific_kwargs:
  default:
    shot_type: "step-by-step" # can be "reason-first", "solution", "step-by-step"
    shot: 0
    use_caption: False
    use_ocr: False
  phi3v:
    shot_type: "solution"