dataset_name: "Generation"
task: "worldqa_gen"
test_split: test
output_type: generate_until
doc_to_visual: !function utils.worldqa_doc_to_visual
doc_to_text: !function utils.worldqa_doc_to_text
doc_to_target: !function utils.worldqa_doc_to_answer
process_results: !function utils.worldqa_process_results
metric_list:
  - metric: submission
    aggregation: !function utils.worldqa_aggregate_gen
    higher_is_better: true
  - metric: gpt_eval 
    aggregation: !function utils.worldq_gen_gpt_eval
    higher_is_better: true  
include: _default_template_yaml
