dataset_path: lmms-lab/MP-DocVQA
local_dataset_path:
task: "multidocvqa_test"
test_split: test
output_type: generate_until
doc_to_visual: !function utils.multidocvqa_doc_to_visual
doc_to_text: !function utils.multidocvqa_doc_to_text
doc_to_target: "answers"
generation_kwargs:
  max_new_tokens: 32
  temperature: 0
  do_sample: False
process_results: !function utils.multidocvqa_process_test_results_for_submission
metric_list:
  - metric: submission
    aggregation: !function utils.multidocvqa_test_aggregate_results_for_submission
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: "\nAnswer the question using a single word or phrase."
  local_infer_dataset_path:
  