tag:
  - math_word_problems
task: aime24_figures
dataset_path: simplescaling/aime24_figures
dataset_name: default
process_docs: !function utils.process_docs
output_type: generate_until
test_split: train
doc_to_text: !function utils.doc_to_text
doc_to_target: answer
process_results: !function utils.process_results
generation_kwargs:
  until: []
  do_sample: false
  temperature: 0
  max_new_tokens: 32768
metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true
  - metric: exact_match_aime24
    aggregation: mean_last30
    higher_is_better: true
  - metric: extracted_answers
    aggregation: bypass
    higher_is_better: true
metadata:
  version: 1.0