group:
  - math_word_problems
task: openai_math_train
dataset_path: simplescaling/openaimath
process_docs: !function utils.process_docs
output_type: generate_until
test_split: train
doc_to_text: !function utils.doc_to_text
doc_to_target: answer
process_results: !function utils.process_results
generation_kwargs:
  until:
    - "Problem:"
  skip_special_tokens: false
  do_sample: false
  temperature: 0.0
  max_new_tokens: 2048 # 2x of https://github.com/openai/simple-evals/blob/c0dba4c7bfbc17f786aec7bd7c3585a36ad81f23/sampler/chat_completion_sampler.py#L27
metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true
  - metric: extracted_answers
    aggregation: bypass
    higher_is_better: true
metadata:
  version: 1.0