include: _default_template_yaml
dataset_name: "video2text_closeended_multiple-choice"
task: "mix_evals_video2text_mc"
test_split: test
output_type: generate_until
doc_to_visual: !function utils.mix_evals_video2text_doc_to_visual
doc_to_text: !function utils.mix_evals_video2text_doc_to_text
doc_to_target: "{{target}}"

metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true
    ignore_case: true
    ignore_punctuation: true

filter_list:
  - name: "flexible-extract"
    filter:
      - function: !function utils.MultiChoiceRegexFilter
        group_select: 0
        ignore_case: true
        ignore_punctuation: true

model_specific_prompt_kwargs:
  default:
    pre_prompt: "These are frames from a video. Please answer the following questions about the video."
    post_prompt: "Answer with the option's letter from the given choices directly."
  gpt4v:
    pre_prompt: "These are frames from a video. Please answer the following questions about the video."
    post_prompt: "Answer with the option's letter from the given choices directly."