dataset_path: lmms-lab-eval/UniMMMU
dataset_name: geometry
task: "uni_mmmu_geometry"
test_split: test
output_type: generate_until

doc_to_visual: !function utils.geometry_doc_to_visual
doc_to_text: !function utils.geometry_doc_to_text
doc_to_target: "answer"

process_results: !function utils.geometry_process_results

metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true

include: _default_template.yaml
