# Uni-MMMU Maze 100 samples (seed=42)
dataset_path: parquet
dataset_kwargs:
  data_files: /blob/lmms-eval-dataset/uni_mmmu_maze100.parquet
task: "uni_mmmu_maze100"
test_split: train
output_type: generate_until

doc_to_visual: !function utils.maze_doc_to_visual
doc_to_text: !function utils.maze_doc_to_text
doc_to_target: "steps"

process_results: !function utils.maze_process_results

generation_kwargs:
  max_new_tokens: 4096
  do_sample: false
  temperature: 0.0

metric_list:
  - metric: maze_text_exact
    aggregation: mean
    higher_is_better: true
  - metric: maze_text_frame_acc
    aggregation: mean
    higher_is_better: true

metadata:
  version: 1.0
  num_samples: 100
  seed: 42
