dataset_path: lmms-lab/MMMU
local_dataset_path:
task: "mmmu_val_reasoning"
test_split: validation
output_type: generate_until
doc_to_visual: !function utils.mmmu_doc_to_visual
doc_to_text: !function utils.mmmu_doc_to_text
doc_to_target: "answer"
# The return value of process_results will be used by metrics
process_results: !function utils.mmmu_reasoning_process_results
# repeats: 8
# filter_list:
#   # - name: "pass@64"
#   #   filter:
#   #     - function: "take_first_k"
#   #       k: 64
#   - name: "pass@8"
#     filter:
#       - function: "take_first_k"
#         k: 8

metric_list:
  - metric: mmmu_judge_acc
    aggregation: !function utils.mmmu_aggregate_judge_results
    higher_is_better: true

lmms_eval_specific_kwargs:
  default:
    prompt_type: "reasoning"
    multiple_choice_prompt: "Please reason step by step, and answer the question with option letter from given choices in the format of Answer: <option letter>."
    open_ended_prompt: "Please reason step by step, and answer the question using a single word or phrase in the format of Answer: <answer>."
  local_infer_dataset_path:

generation_kwargs:
  max_new_tokens: 16384
  temperature: 0.7
  do_sample: true
  top_p: 0.95
  top_k: 50
  until:
    - "</s>"
    - "Q:"
    - "<|im_end|>"

metadata:
  version: 0.0
  interleaved_format: false
