"include": "_default_template_vcr_yaml"
dataset_path: vcr-org/VCR-wiki-en-easy-test
local_dataset_path:
task: "vcr_wiki_en_easy"
test_split: test
process_results: !function utils.vcr_en_process_results
metric_list:
  - metric: jaccard
    aggregation: !function utils.vcr_aggregate_jaccard
    higher_is_better: true
  - metric: exact_match
    aggregation: !function utils.vcr_aggregate_exact_match
    higher_is_better: true
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: "What is the covered texts in the image? Please restore the covered texts without outputting the explanations."
  local_infer_dataset_path: