dataset_path: Lin-Chen/MMStar
task: "mmstar_reasoning"
dataset_kwargs:
  token: True
test_split: val
output_type: generate_until
doc_to_visual: !function utils.mmstar_doc_to_visual
doc_to_text: !function utils.mmstar_doc_to_text
doc_to_messages: !function utils.mmstar_reasoning_doc_to_messages
doc_to_target: "answer"
process_results: !function utils.mmstar_reasoning_process_results

metric_list:
  - metric: acc_score
    aggregation: mean
    higher_is_better: true
  - metric: format_score
    aggregation: mean
    higher_is_better: true

generation_kwargs:
  max_new_tokens: 49152

metadata:
  version: 0.0
