dataset_path: lmms-lab/VATEX_ZH
dataset_name: vatex_val_zh
task: vatex_val_zh
test_split: validation
output_type: generate_until
doc_to_visual: !function utils.vatex_ZH_doc_to_visual
doc_to_text: !function utils.vatex_ZH_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  max_new_tokens: 64
  temperature: 0
  top_p: 1.0
  num_beams: 1
  do_sample: false
model_specific_prompt_kwargs:
  default:
    prompt: 请为提供的视频提供一句话简短的字幕。

  gemini_api:
    prompt: 请为提供的视频提供简短的描述。不要给出任何理由，只提供描述。您必须沿用前面视频的描述样式。不需要以 "输出"开头，只需提供描述即可.

process_results: !function utils.vatex_process_CN_result
# Note that the metric name can be either a registed metric function (such as the case for GQA) or a key name returned by process_results
metric_list:
  - metric: vatex_Bleu_4 
    aggregation : !function utils.vatex_bleu4
    higher_is_better : true
  - metric: vatex_METEOR
    aggregation : !function utils.vatex_meteor
    higher_is_better : true
  - metric: vatex_ROUGE_L
    aggregation : !function utils.vatex_rougel
    higher_is_better : true
  - metric: vatex_CIDEr
    aggregation : !function utils.vatex_cider
    higher_is_better : true
metadata:
  - version: 0.0
# include: _default_template_yaml

dataset_kwargs:
  token: True
  video: True #skip download video from hf
  cache_dir: vatex_val_zh
  # From_YouTube: True
