task: "mmivqd_instruction"
test_split: test
dataset_name: mmivqd_base
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: "\nIf the given image is irrelevant to the question, answer \"F. The image and question are irrelevant.\"."
  local_infer_dataset_path:
include: _default_template_mmupd_yaml
metric_list:
  - metric: gpt_eval_score
    aggregation: !function utils.mmivqd_instruction
    higher_is_better: true