dataset_path: CaraJ/MathVerse-lmmseval
dataset_name: testmini
dataset_kwargs:
  token: False
task: "mathverse_testmini"
test_split: testmini
tag: visual_reasoning_collection
output_type: generate_until
doc_to_visual: !function utils.mathverse_doc_to_visual
doc_to_text: !function utils.mathverse_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  max_new_tokens: 16384
  temperature: 0.0
  do_sample: true
  top_p: 0.95
  top_k: 50
  repetition_penalty: 1.2
  until:
    - "</s>"
    - "Q:"
    - "<|im_end|>"
process_results: !function utils.mathverse_process_results
metric_list:
  - metric: llm_as_judge_eval
    aggregation: mean
    higher_is_better: true
  - metric: gpt_eval_score
    aggregation: !function utils.mathverse_aggregate_results_eval
    higher_is_better: true
  - metric: submission
    aggregation: !function utils.mathverse_aggregate_results_submission
    higher_is_better: true
  
lmms_eval_specific_kwargs:
  default:
    shot_type: "format-prompt" # can also be "custom-prompt"
    query_type: "query_wo" # now only support query_wo
model_specific_generation_kwargs:
  llava:
    image_aspect_ratio: original