dataset_path: XAI/vlmsareblind
task: "vlmsareblind_lite"
test_split: valid
output_type: generate_until
doc_to_visual: !function utils.vlmsareblind_doc_to_visual
doc_to_text: !function utils.vlmsareblind_doc_to_text
doc_to_target: "groundtruth"
process_docs: !function utils.vlmsareblind_sample_100_per_task
process_results: !function utils.vlmsareblind_process_results
generation_kwargs:
  max_new_tokens: 32
  temperature: 0
  top_p: 1.0
  num_beams: 1
  do_sample: false
metric_list:
  - metric: accuracy
    aggregation: mean
    higher_is_better: true
  - metric: accuracy_by_task
    aggregation: !function utils.vlmsareblind_aggregate_by_task
    higher_is_better: true
metadata:
  - version: 0.0
  - description: "Vision language models are blind: Failing to translate detailed visual features into words"
  - reference: "https://arxiv.org/abs/2407.06581"
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: "\nAnswer only in the required format."