dataset_path: MathLLMs/MathVision
dataset_kwargs:
  token: True
task: "mathvision_reason_testmini"
test_split: testmini
tag: visual_reasoning_collection
output_type: generate_until
doc_to_visual: !function utils.mathvision_doc_to_visual
doc_to_text: !function utils.mathvision_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  max_new_tokens: 16384
  temperature: 0.0
  do_sample: true
  top_p: 0.95
  top_k: 50
  repetition_penalty: 1.2
  until:
    - "</s>"
    - "Q:"
    - "<|im_end|>"
process_results: !function utils.mathvision_gpt_eval_process_results
metric_list:
  - metric: llm_as_judge_eval
    aggregation: mean
    higher_is_better: true