task: "vqav2_val"
include: _default_template_vqav2_yaml
test_split: validation
metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true
    ignore_case: true
    ignore_punctuation: true
process_results: !function utils.vqav2_process_results_val
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: ""
  plm:
    pre_prompt: ""
    post_prompt: "\nGive a very brief answer."