task: "camera_test"
dataset_path: wchai/lmms_VDC_test
local_dataset_path:
test_split: test
output_type: generate_until
doc_to_visual: !function utils.vdc_doc_to_visual
doc_to_text: !function utils.vdc_doc_to_text_camera
doc_to_target: !function utils.vdc_doc_to_answer
process_results: !function utils.vdc_process_results_generic
metric_list:
  - metric: llm_eval_score
    aggregation: !function utils.vdc_aggregate_score
    higher_is_better: true
  - metric: llm_eval_acc
    aggregation: !function utils.vdc_aggregate_acc
    higher_is_better: true
include: _default_template_yaml